<!-- <button style="float:right" (click)="showDialogFile()" type="button" pButton label="Nhập File Excel"></button> -->
<p-dialog header="Gửi Danh Sách Môn Học" [(visible)]="displayFile" showEffect="fade" [modal]="true" width="1200"
          minHeight="500">
    <div class="ui-g" style="height:120px; overflow: visible">
        <div class="ui-g-12">
            <p-dropdown [style]="{'width':'100%'}" (onChange)="onChange($event.value)" [(ngModel)]="selectedGrade"
                        [options]="allGrades"
                        optionLabel="Name" placeholder="Chọn khối">
            </p-dropdown>
        </div>
    </div>
    <!-- file upload Excel-->
    <p-fileUpload chooseLabel="Chọn File Excel" uploadLabel="Gửi File" cancelLabel="Huỷ" mode="advanced" #form
                  name="myfile[]"
                  *ngIf="!dataResponseImportFile && selectedGrade" (uploadHandler)="myUploader($event)"
                  customUpload="true" showUploadButton="true"
                  showCancelButton="true" maxFileSize="10000000" [style]="{'margin-bottom':'50px'}"
                  [accept]="'.xlsx'"></p-fileUpload>
    <!-- / file upload Excel-->
    <!-- datatable of return data upload file -->
    <p-dataTable [value]="dataResponseImportFile "
                 *ngIf="dataResponseImportFile"
                 resizableColumns="true"
                 [rows]="50"
                 [paginator]="true"
                 [pageLinks]="5"
                 [rowsPerPageOptions]="[20,100,200]"
                 [responsive]="true"
                 [resizableColumns]="true"
                 [reorderableColumns]="true"
                 [metaKeySelection]="false"
    >
        <p-header>
            <h3>Danh Sách Khoá Học Từ File</h3>
        </p-header>
        <!-- p-body -->
        <p-column field="STT" header="STT" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="MaMH" header="Mã môn học" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="Name" header="Tên môn học">
        </p-column>
        <p-column field="DVHT" header="DVHT" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="Tongtiet" header="Tổng tiết" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="BT" header="BT" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="LT" header="LT" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="TH" header="TH" [style]="{'width':'50px'}">
        </p-column>
        <p-column field="HK" header="HK" [style]="{'width':'50px'}">
        </p-column>
        <!-- / p-body -->
    </p-dataTable>
    <div class="ui-g" *ngIf="dataResponseImportFile">
        <div *ngIf="!isImport" class="ui-g-12">
            <p-messages [(value)]="msgs"></p-messages>
        </div>
        <div class="ui-g-4 ui-g-offset-5">
            <button *ngIf="isImport" type="button" pButton label="Xác Nhận" (click)="importFile()"></button>
            <button pButton type="button" (click)="cancelImport()" label="Huỷ Bỏ" class="ui-button-secondary"></button>
        </div>
    </div>
    <!-- / datatable of return data upload file -->
</p-dialog>
<p-dialog header="Gửi File Word Chương trình đào tạo" [(visible)]="showFileWord" showEffect="fade" [modal]="true"
          width="1200"
          minHeight="500">
    <div class="ui-g" style="height:120px; overflow: visible">
        <div class="ui-g-12">
            <p-dropdown
                [style]="{'width':'100%'}"
                (onChange)="onChange($event.value)"
                [(ngModel)]="selectedGrade"
                [options]="allGrades"
                optionLabel="Name"
                placeholder="Chọn khối"
            >
            </p-dropdown>
        </div>
    </div>
    <p-fileUpload
        chooseLabel="Chọn File Word"
        uploadLabel="Gửi File"
        cancelLabel="Huỷ"
        mode="advanced"
        #form
        name="myfile[]"
        *ngIf="selectedGrade"
        (uploadHandler)="uploadFileWord($event)"
        customUpload="true"
        showUploadButton="true"
        showCancelButton="true"
        maxFileSize="10000000"
        [style]="{'margin-bottom':'50px'}"
    ></p-fileUpload>
</p-dialog>
<p-dialog header="Tải File Word Chương trình đào tạo"
          [(visible)]="downloadFileWord"
          showEffect="fade"
          [modal]="true"
          width="500"
          minHeight="450">
    <div
        class="ui-g"
        style="height:120px; overflow: visible"
    >
        <div class="ui-g-12">
            <p-dropdown [style]="{'width':'100%'}" (onChange)="onChange($event.value)" [(ngModel)]="selectedGrade"
                        [options]="allGrades"
                        optionLabel="Name" placeholder="Chọn khối">
            </p-dropdown>
        </div>
    </div>
    <button style="float:right" (click)="DownloadWord()" type="button" pButton label="Xác nhận">
    </button>
    <a *ngIf="allowDownload" style="color:green ; float:right; margin: 0 10px" [href]="url" target="_self" download>
        <i class="fa fa-download"></i> Bấm vào đây để tải
    </a>
</p-dialog>
<p-dataTable [value]="allCourses"
             [paginator]="true"
             [pageLinks]="5"
             [rowsPerPageOptions]="[20,100,200]"
             [globalFilter]="gb"
             emptyMessage="Không tìm thấy kết quả"
             #dt
             [rows]="50"
             [metaKeySelection]="false"
             [reorderableColumns]="true"
             responsive="true"
             [resizableColumns]="true"
             [style]="{'overflow':'visible'}"
>
    <!-- p-header -->
    <p-header>
        <div class="ui-helper-clearfix ">
            <input
                style="float:left"
                #gb
                type="text"
                pInputText
                size="50"
                placeholder="Tìm Kiếm  ..."
            >
            <button
                style="float:right"
                (click)="showDialogFile()"
                type="button"
                pButton
                label="Nhập File Excel"
            >
            </button>
            <button style="float:right" (click)="showFileWord = true" type="button" pButton label="Nhập File Word">
            </button>
            <button (click)="downloadFileWord = true" style="float:right" type="button" pButton label="Tải File Word">
            </button>
            <a style="color:green ; float:right; margin: 0 10px" href="../../../../assets/files/CTDT_Template.xlsx"
               target="_self" download>
                <i class="fa fa-download"></i> Tải mẫu môn học
            </a>
        </div>
    </p-header>
    <!--  / p-header -->
    <!-- p-body -->
    <p-column
        [filter]="true"
        filterMatchMode="equals"
        field="Grade"
        header="Khoá"
        [style]="{'overflow':'visible','width':'130px'}"
    >
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="gradeOptions" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                        styleClass="ui-column-filter">
            </p-dropdown>
        </ng-template>
    </p-column>
    <p-column
        [filter]="true"
        [style]="{'overflow':'visible','width':'130px'}"
        field="HK"
        header="HK"
    >
        <ng-template pTemplate="filter" let-col>
            <p-dropdown
                [options]="HkOptions"
                [style]="{'width':'100%'}"
                (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                styleClass="ui-column-filter">
            </p-dropdown>
        </ng-template>
    </p-column>
    <p-column
        field="MaMH"
        header="Mã môn học"
        [style]="{'width':'120px'}"
    >
    </p-column>
    <p-column
        field="Name"
        header="Tên môn học"
    >
    </p-column>
    <p-column
        field="DVHT"
        header="DVHT"
        [style]="{'width':'50px'}"
    >
    </p-column>
    <p-column
        field="TongTiet"
        header="Tổng tiết"
        [style]="{'width':'80px'}"
    >
        <!-- <ng-template pTemplate="footer">
                <td>$506,202</td>
            </ng-template> -->
    </p-column>
    <p-column
        field="BT"
        header="BT"
        [style]="{'width':'50px'}"
    >
    </p-column>
    <p-column
        field="LT"
        header="LT"
        [style]="{'width':'50px'}"
    >
    </p-column>
    <p-column
        field="TH"
        header="TH"
        [style]="{'width':'50px'}"
    >
    </p-column>
    <p-column field="DA" header="ĐA" [style]="{'width':'50px'}">
    </p-column>
    <p-column field="TC" header="TC" [style]="{'width':'50px'}">
    </p-column>
    <p-column field="SG" header="SG" [style]="{'width':'50px'}">
    </p-column>
    <p-column
        [style]="{'width':'50px'}"
        field="Id" header=""
    >
        <ng-template let-course="rowData" pTemplate="body">
            <button pButton icon="fa-pencil" [routerLink]="['/main/assistant/course-detail', course.Id]" type="button"
                    class="ui-button-warning"></button>
            <!--<button pButton (click)="deleteCourse(course)" icon="fa-trash" type="button" class="ui-button-danger"></button>-->
        </ng-template>
    </p-column>
    <!-- p-footer -->
    <p-footer class="footer">
        <div class="ui-helper-clearfix">
        </div>
    </p-footer>
</p-dataTable>
<!-- Dialog -->
<p-dialog
    header="Thông tin Khoá học"
    [(visible)]="displayDialog"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    width="1200"
>
    <div
        class="ui-g"
        *ngIf="selectedCourse"
    >
        <!-- <div class="ui-g-4"> Mã: </div>
        <div class="ui-g-8">{{selectedStudent.StudentId}}</div>
     -->
    </div>
</p-dialog>
