.utility-page #main {
    background: url("../../assets/img/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}
