<body class="utility-page sb-l-c sb-r-c">

  <!-- -------------- Body Wrap  -------------- -->
  <div id="main" class="animated fadeIn">
  
      <!-- -------------- Main Wrapper -------------- -->
      <section id="content_wrapper">
  
          <div id="canvas-wrapper">
              <canvas id="demo-canvas"></canvas>
          </div>
  
          <!-- -------------- Content -------------- -->
          <section id="content">
  
              <!-- -------------- Login Form -------------- -->
              <div class="allcp-form theme-primary mw320" id="login">
                  <!-- <div class="text-center"><img src="assets/img/logoVanLang.png" class="img-responsive img-rounded "
                                                     alt="Logo"/></div> -->
                  <div class="panel mw320">
  
                      <form method="post" action="/" id="form-login">
                        <img src="../../assets/img/logoVanLang.png" class="img-responsive" alt="">
                          <div class="panel-body pn mv10">
                              <div class="section">
                                  <label for="username" class="field prepend-icon">
                                      <input type="text" name="username" id="username" class="gui-input"
                                             placeholder="Username">
                                      <label for="username" class="field-icon">
                                          <i class="fa fa-user"></i>
                                      </label>
                                  </label>
                              </div>
                              <!-- -------------- /section -------------- -->
  
                              <div class="section">
                                  <label for="password" class="field prepend-icon">
                                      <input type="text" name="password" id="password" class="gui-input"
                                             placeholder="Password">
                                      <label for="password" class="field-icon">
                                          <i class="fa fa-lock"></i>
                                      </label>
                                  </label>
                              </div>
                              <!-- -------------- /section -------------- -->
  
                              <div class="section">
                                  <a  class="btn btn-bordered btn-primary pull-right"  (click)="login()">Log in</a>
                              </div>
                              <!-- -------------- /section -------------- -->
  
                          </div>
                          <!-- -------------- /Form -------------- -->
                      </form>
                  </div>
                  <!-- -------------- /Panel -------------- -->
              </div>
              <!-- -------------- /Spec Form -------------- -->
  
          </section>
          <!-- -------------- /Content -------------- -->
  
      </section>
      <!-- -------------- /Main Wrapper -------------- -->
  
  </div>
 
 
  </body>