<p-breadcrumb [model]="items" [home]="'fa fa-home'"></p-breadcrumb>
<div class="row text-center">
  <h3>DANH SÁCH SINH VIÊN</h3>
</div>

<!-- Upload FIle -->
<p-fileUpload *ngIf="importFileExcel" mode="advanced" #form name="myfile[]" customUpload="true" showUploadButton="true" showCancelButton="true" maxFileSize="10000000"
  (uploadHandler)="myUploader($event)" (onUpload)="onBasicUpload($event)"
  [style]="{'margin-bottom':'100px'}"
  >
</p-fileUpload>
<!-- / Upload FIle -->

<p-dataTable [(selection)]="selectedStudent"  selectionMode="multiple" #dt [value]="allStudents" resizableColumns="true" [rows]="50"
  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[20,100,200]" [responsive]="true" [globalFilter]="gb" [resizableColumns]="true"
  emptyMessage="Không tìm thấy kết quả" [reorderableColumns]="true" [metaKeySelection]="false">
  <!-- p-header -->
  <p-header>
    <div class="ui-helper-clearfix ">
      <input style="float:left" #gb type="text" pInputText size="50" placeholder="Tìm Kiếm  ...">

      <button style="float:right" (click)="changeImportFileExcel()" type="button" pButton   label="{{displayStatusImportFile() }}"></button>
    </div>
  </p-header>
  <!--  / p-header -->

  <!-- p-footer -->
  <p-footer class="footer">
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="Xuất Tất Cả (CSV)" (click)="dt.exportCSV()" style="float:left"></button>
      <button type="button" pButton icon="fa-file" iconPos="left" label="Xuất Dữ Liệu Đã Chọn (CSV)" (click)="dt.exportCSV({selectionOnly:true})"
        style="float:right"></button>
    </div>
  </p-footer>
  <!-- /p-footer  -->

  <!-- p-body -->
  <p-column field="Grade" header="Khối" filterPlaceholder="Nhap" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
    <ng-template pTemplate="filter" let-col>
      <p-dropdown [options]="gradeOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
        styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
  </p-column>

  <p-column field="Class" header="Lớp" filterPlaceholder="Nhap" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
    <ng-template pTemplate="filter" let-col>
      <p-dropdown [options]="classOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
        styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
  </p-column>

  <p-column [sortable]="true" filterPlaceholder="Search" field="StudentId" header="Mã"></p-column>

  <p-column [sortable]="true" field="Name" filterPlaceholder="Search" header="Họ Và Tên"></p-column>
  <p-column [sortable]="true" field="Gender" filterPlaceholder="Search" header="Phái"></p-column>
  <p-column [style]="{'width':'90px'}" field="Id" header="Sửa">
    <ng-template let-student="rowData" pTemplate="body">
      <button pButton icon="fa-pencil" [routerLink]="['/main/assistant/class-management', student.Id]" type="button" class="ui-button-warning"></button>
      <button pButton type="button" icon="fa-search" (click)="selectStudent($event, student)"></button>
    </ng-template>

  </p-column>
  <!-- / p-body -->

</p-dataTable>

<p-dialog header="Thông tin sinh viên" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400"
  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedStudent">
    <div class="ui-g-4"> Mã: </div>
    <div class="ui-g-8">{{selectedStudent.StudentId}}</div>
    <div class="ui-g-4"> Họ và Tên: </div>
    <div class="ui-g-8">{{selectedStudent.Name}}</div>
    <div class="ui-g-4"> Phái: </div>
    <div class="ui-g-8">{{selectedStudent.Gender}}</div>
    <div class="ui-g-4"> Khối: </div>
    <div class="ui-g-8">{{selectedStudent.Grade}}</div>
    <div class="ui-g-4"> Lớp: </div>
    <div class="ui-g-8">{{selectedStudent.Class}}</div>
  </div>
</p-dialog>



