<div class="ui-g">
    <div class="ui-g-4">
        <p-dropdown [style]="{'width':'100%'}"
                    [options]="courses"
                    placeholder="Chọn môn học"
                    optionLabel="Name"
                    [showClear]="true"
                    [(ngModel)]="CourseId"
                    [filter]="true"
        >
            <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 30px;">
                    <div style="font-size:15px;margin-top:5px">
                        {{item.value.Grade}} - {{item.label}}
                        <i style="float: right;" *ngIf="!item.value.Status"
                           class="fa fa-check btn-success"></i>
                    </div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="ui-g-4">
        <p-chips [style]="{'height':'50px','width':'100%'}"
                 name="chip"
                 placeholder="Nhấn Enter để tạo"
                 [(ngModel)]="Classes">
        </p-chips>
    </div>
    <div class="ui-g-4">
        <p-dropdown [options]="lecturers"
                    [style]="{'width':'100%'}"
                    placeholder="Chọn giảng viên"
                    optionLabel="Name"
                    [showClear]="true"
                    [(ngModel)]="LecturerId"
                    [filter]="true"
        >
        </p-dropdown>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">
        <button style="height: 35px; width: 100%" pButton type="button"
                (click)="createEducationPlan()"
                label="Tạo  đào tạo"
                class="ui-button-success"
        >
        </button>
    </div>
</div>
<div class="ui-g" *ngIf="plan">
    <div class="ui-g-12">
        <p-dataTable [value]="plan.reverse()" #dt
                     resizableColumns="true"
                     [rows]="50"
                     [paginator]="true"
                     [pageLinks]="5"
                     [rowsPerPageOptions]="[20,100,200]"
                     [responsive]="true"
                     [resizableColumns]="true"
                     [reorderableColumns]="true"
                     [metaKeySelection]="false"
                     [style]="{'overflow':'visible'}"
                     emptyMessage="Chưa có môn học nào được tạo"
        >
            <p-header>
            </p-header>
            <p-column field="Course" header="Môn Học">
            </p-column>
            <p-column field="Grade" header="Khối">
            </p-column>
            <p-column field="Name" header="Lớp">
            </p-column>
            <p-column field="Lecturer" header="Giảng Viên">
            </p-column>
            <p-column [style]="{'width':'90px'}" field="Id" header="">
                <ng-template let-course="rowData" pTemplate="body">
                    <button pButton
                            icon="fa-folder-open"
                            type="button"
                            class="ui-button-warning"
                            [routerLink]="['/main/assistant/manage-lecturer', course.Id ,course.GradeId]"
                    >
                    </button>

                    <button pButton
                            icon="fa-trash"
                            type="button"
                            class="ui-button-danger"
                            (click)="deleteCourse(course.Id)"
                    >
                    </button>

                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>


