<p-breadcrumb [model]="items" [home]="'fa fa-home'"></p-breadcrumb>
<div class="row text-center">
    <h3>DANH SÁCH KHOÁ - LỚP</h3>
</div>

<div class="ui-g" style="margin-bottom: 40px">
    <!-- Create Grade -->
    <div class="ui-g-6">
        <button pButton type="button" (click)="changeStateGrade()" label="{{isCreateGrade ? 'Huỷ': 'Tạo khối'}}" class="ui-button-warning"></button>
        <div *ngIf="isCreateGrade" class="row" style="margin-top: 30px">
            <span class="ui-float-label">
                <input [(ngModel)]="grade.Name" name="addGrade" id="float-input" type="text" size="30" pInputText>
                <label for="float-input">Nhập tên khối</label>
            </span>
        </div>
        <div *ngIf="isCreateGrade" class="row" style="margin-top: 10px">
            <button pButton type="button" (click)="addGrade()" label="Tạo" class="ui-button-primary"></button>
            <p-messages [(value)]="msgsGrade"></p-messages>
        </div>

    </div>
    <!-- / Create Grade -->

    <!-- Create Class -->
    <div class="ui-g-6">
        <button style="float:right" pButton type="button" (click)="changeStateClass()" label="Tạo lớp" class="ui-button-warning"></button>
        <div *ngIf="isCreateClass" class="row" style="margin-top: 30px">
            <div class="ui-g-4">
                <p-dropdown placeholder="Chọn khối để tạo" [options]="allGrade" optionLabel="Name" [(ngModel)]="selectedGrade"></p-dropdown>
            </div>
            <div class="ui-g-8">
                <span class="ui-float-label">
                    <input [(ngModel)]="class.Name" name="className" id="float-input" type="text" size="30" pInputText>
                    <label for="float-input">Nhập tên lớp</label>
                </span>
            </div>
        </div>
        <div *ngIf="isCreateClass" class="row" style="margin-top: 10px">
            <button [disabled]="!selectedGrade" pButton type="button" (click)="addClass()" label="Tạo" hiclass="ui-button-primary"></button>
            <p-messages [(value)]="msgsClass"></p-messages>
        </div>
    </div>

    <button style="float:right" (click)="showDialogFile()" type="button" pButton label="Nhập File Excel"></button>
    <!-- /Create Class -->
</div>
<!-- <p-dataTable [value]="allGrade" rowGroupMode="subheader" groupField="Name" expandableRowGroups="true" [sortableRowGroup]="false">
  <p-header>Toggleable Row Groups with Footers</p-header>
  <ng-template pTemplate="rowgroupheader" let-rowData>
    <h5> {{rowData['Name']  }}</h5>
  </ng-template>
  <p-column *ngFor="let col of Class" field="Class" header="Khoá - Lớp">
  </p-column>
</p-dataTable> -->

<p-dialog header="Gửi Danh Sách Sinh Viên " [(visible)]="displayFile" showEffect="fade" [modal]="true" width="900">

    <!-- file upload -->
    <p-fileUpload chooseLabel="Chọn File Excel" uploadLabel="Gửi File" cancelLabel="Huỷ" mode="advanced" #form name="myfile[]"
        customUpload="true" showUploadButton="true" showCancelButton="true" maxFileSize="10000000" [style]="{'margin-bottom':'100px'}"
        [accept]="'.xlsx'"> </p-fileUpload>
    <!-- / file upload -->

    <!-- datatable of return data upload file -->

    <p-dataTable resizableColumns="true" [rows]="50" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[20,100,200]" [responsive]="true"
        [resizableColumns]="true" [reorderableColumns]="true" [metaKeySelection]="false">
        <p-header>
            <h3>Danh Sách Sinh Viên Từ File</h3>
        </p-header>
        <!-- p-body -->
        <p-column field="Grade" header="Khối" [style]="{'overflow':'visible'}">

        </p-column>

        <p-column field="Class" header="Lớp" [style]="{'overflow':'visible'}">
        </p-column>

        <p-column [sortable]="true" filterPlaceholder="Search" field="Student_id" header="Mã"></p-column>

        <p-column [sortable]="true" field="Name" filterPlaceholder="Search" header="Họ Và Tên"></p-column>
        <p-column [sortable]="true" field="Gender" filterPlaceholder="Search" header="Phái"></p-column>
        <!-- / p-body -->

    </p-dataTable>

    <div class="ui-g">
        <div class="ui-g-4 ui-g-offset-5">
            <p-message severity="error" text="File lỗi . Import File lại"></p-message>
            <button type="button" pButton label="Xác Nhận"></button>
            <button pButton type="button" label="Huỷ Bỏ" class="ui-button-secondary"></button>
        </div>
    </div>
    <!-- / datatable of return data upload file -->
</p-dialog>

<p-accordion [multiple]="true">
    <p-accordionTab class="ui-g-8 ui-g-offset-2" *ngFor="let grade of allGrade; let i = index" header="{{grade.Name}}">
        <button *ngFor="let z of grade.Class" pButton type="button" label="{{z.Name}}" class="ui-button-secondary"></button>
    </p-accordionTab>
</p-accordion>

<p-dialog header="Gửi Danh Sách Sinh Viên " [(visible)]="displayFile" showEffect="fade" [modal]="true" width="900">

    <!-- file upload -->
    <p-fileUpload chooseLabel="Chọn File Excel" uploadLabel="Gửi File" cancelLabel="Huỷ" mode="advanced" #form name="myfile[]"
        customUpload="true" showUploadButton="true" showCancelButton="true" maxFileSize="10000000" [style]="{'margin-bottom':'100px'}"
        [accept]="'.xlsx'"> </p-fileUpload>
    <!-- / file upload -->

    <!-- datatable of return data upload file -->

    <p-dataTable resizableColumns="true" [rows]="50" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[20,100,200]" [responsive]="true"
        [resizableColumns]="true" [reorderableColumns]="true" [metaKeySelection]="false">
        <p-header>
            <h3>Danh Sách Sinh Viên Từ File</h3>
        </p-header>
        <!-- p-body -->
        <p-column field="Grade" header="Khối" [style]="{'overflow':'visible'}">

        </p-column>

        <p-column field="Class" header="Lớp" [style]="{'overflow':'visible'}">
        </p-column>

        <p-column [sortable]="true" filterPlaceholder="Search" field="Student_id" header="Mã"></p-column>

        <p-column [sortable]="true" field="Name" filterPlaceholder="Search" header="Họ Và Tên"></p-column>
        <p-column [sortable]="true" field="Gender" filterPlaceholder="Search" header="Phái"></p-column>
        <!-- / p-body -->

    </p-dataTable>

    <div class="ui-g">
        <div class="ui-g-4 ui-g-offset-5">
            <p-message severity="error" text="File lỗi . Import File lại"></p-message>
            <button type="button" pButton label="Xác Nhận"></button>
            <button pButton type="button" label="Huỷ Bỏ" class="ui-button-secondary"></button>
        </div>
    </div>
    <!-- / datatable of return data upload file -->
</p-dialog>
